/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/***************** login *******************/
* {
  font-family: Helvetica;
  background-size: cover;
}

.login {
  background: linear-gradient(#429cd6, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100%;
}

.signin_button {
   width: 10%;
   height: 40px;
   margin: 10px auto 30px;
   border-radius: 5px;
   background-color: #163d77;
   color: #ffffff;
   font-size: 16px;
}

.login-form input{
  width: 10%;
  padding: 10px 0px 10px 6px;
  margin-bottom: 5px;
}

.flitter-logo {
  width: 300px;
}

/***************** sign-up page *******************/

.signup-form input{
  width: 10%;
  padding: 10px 0px 10px 6px;
  margin-bottom: 5px;
}

#name-field {
  margin-top: 20px;
}

.sign-up {
  margin-top: 100px;
  color: #163d77;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

/***************** all users page *******************/
h1 {
  color: #163d77;
}

.user-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

/******************* nav bar ********************/

.nav-bar ul{
    z-index: 10000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #429cd6;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
 }

 .nav-bar p{
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
   font-family: Helvetica,Arial,sans-serif;
   font-weight: 800;
   padding: 0px 16px 0px 16px;
   float: left;
   font-size: 14px;
 }

 .nav-bar li {
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
   font-family: Helvetica,Arial,sans-serif;
   font-weight: 100;
   font-size: 14px;
   border-left: 1px solid #bbb;
   float: right;
 }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 14px;
 }

 li a:hover {
     background-color: #163d77;
 }

/***************** individual users page *******************/
div.fleets-card {
  background-color: white;
  width: 30%;
  margin: 20px;
}

.background {
  background: #d6e9f6;
}

.fleets-content {
  padding-top: 20px;
  color: #163d77;
}

/***************** edit page *******************/
.edit-name {
  margin-top: 100px;
  color: #163d77;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
/***************** fleets *******************/
h2 {
  color: #163d77;
}

.users-name {
  color: #163d77;
  padding-top: 20px;
}

/***************** user's fleets page *******************/
