/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/***************** login *******************/
* {
  font-family: Helvetica;
  background-size: cover;
}

.login {
  background: linear-gradient(#429cd6, white);
  background-size: cover;
  height: 100%;
  min-height: 100%;
}

/***************** users page *******************/
h1 {
  color: black;
}

.user-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/***************** tweets page *******************/
